.search-bar {
    position: fixed;
    display: flex;
    right: 20px;
    top: 20px;
}

input {
    height: 98%;
    border: unset;
    box-shadow: 1px 2px 3px -1px rgba(0,0,0, .5);
}

.btn {
    box-shadow: 1px 2px 3px -1px rgba(0,0,0, .5) !important;
}

@media only screen and (max-width: 721px) {
    .margin-mobile {
        margin-top: 150px !important;
    }
}
