.search-bar {
    position: fixed;
    display: flex;
    right: 10%;
}
input {
    height: 98%;
    border: unset;
    box-shadow: 1px 2px 3px -1px rgba(0,0,0, .5);
}
button {
    box-shadow: 1px 2px 3px -1px rgba(0,0,0, .5);
}